input {
  outline: none;
  padding-left: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.input {
  &-round {
    border-radius: 25px;
    border-width: 1px;
    border-color: black;
    height: 40px;
  }

  &-lg {
    width: 200px;
  }

  &-sm {
    width: 50px;
  }

  &-wrapper {
    margin-top: 50px;
  }
}
